.heading1 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.heading2 {
    text-align: center;
    font-size: 1.5rem;
}

.list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}