@use '../styles/abstracts/' as *;

.logo {
    width: 10rem
}

.header {
    grid-area: header;

    & .nav {
        display: flex;
        height: 6rem;
        padding: 25px;
        align-items: center;
        justify-content: space-between;

        & .nav-items {
            display: flex;

            & .nav-item {
                list-style: none;
                height: 2rem;
                width: 2rem;

                & img {
                    margin: auto;
                    width: 1.75rem;
                }

                & a:first-child {
                    margin-right: .5rem;
                }
            }

        }
    }

}