@use './styles/base/resets';
@use './styles/abstracts/' as *;

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button {
  font-family: $roboto;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: $inter;
}

body {
  background: $white;
  color: $brown;
}

.container {
  display: grid;

  & .header-wrap,
  .content-wrap {
    display: grid;
    grid-template-columns: 1fr 13fr 1fr;

    @include mq(md) {
      grid-template-columns: 1fr 7fr 1fr;
    }
  }

  & .header-wrap {
    grid-template-areas: "sidebar-left header sidebar-right";
    box-shadow: 0px 4px 10px $shadow-light;
    z-index: 1;
    background-color: $white;
  }

  & .content-wrap {
    grid-template-areas: "sidebar-left content sidebar-right";
    background-color: $background;

    .content {
      grid-area: content;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
    }
  }
}